.header {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.main-heading {
    font-size: 42px;
    font-weight: 600;
}

.header-tagline {
    font-size: 26px;
    font-style: italic;
}